<div class="container mx-auto">
  <div class="max-w-sm mx-auto bg-white rounded-xl shadow-sm overflow-hidden md:max-w-2xl mt-10">
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <img class="h-48 w-full object-cover md:w-48 rounded-full mx-auto" src="https://i.pinimg.com/originals/ec/7d/6f/ec7d6fb7975b96ed12b35ccd83a280a1.jpg" alt="Profile Picture">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Boca Juniors Fan</div>
        <h2 class="text-xl font-bold">Tamara</h2>
        <p class="mt-2 text-gray-500">Hi I'm Tamara, a Boca Juniors fan living in Buenos Aires. Let's chat; I'd love to get to know you better, handsome.</p>
      </div>
    </div>
  </div>
</div>
